# API keys
key_openai.txt
key_pinecone.txt
api_keys/*
# Log files and memory indexes
nexus/*
gpt3_logs/*
summary_prompts/*
prompt_tests/*
wiki_pages/*
wiki_metadata/*
__pycache__/
memory_management/memory_states/*
memory_management/memory_stash/*
memory_management/theme_stash/*
conversation_management/conversation_stash/*
conversation_management/anticipation_stash/*
mem_wipe.txt
